body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about img {
    display: block;
    max-width: 150px;
  
    border-radius: 100%;
    margin: 0 auto 20px;
}

#about h2, #skills h2, #projects h2, #resume h2, #contact h2 {
    text-align: center;
    margin-top: 0;
}

#skills ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#skills li {
    display: inline;
    margin: 0 10px;
    font-size: 1.2em;
}

#projects .project {
    margin-bottom: 20px;
    text-align: center;
}

#projects img {
    max-width: 100%;
    height: auto;
}

#resume a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#contact p {
    text-align: center;
    font-size: 1.2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
